header {
    background-color: rgba(26,219,214,1);
    padding: 2%

    

}

h1 {
    color: rgb(244, 244, 244);
    text-align: center;
}

p {
    color: red;
}

.navbar-nav {

    text-align: center;
    padding: 2%;
}

 .myPic {
    max-width: 10%;
 }
 .navWork {
    padding: 6%;
    font-size: 30px;

 }
 .navContactMe {
    padding: 6%;
    font-size: 30px;

 }
 .navAboutMe {
    padding: 6%;
    font-size: 30px;

 
 

